<body class ="login">
  <div class="jumbtron py-3">
    <img  src="/assets/img/lms logo.png">
  </div>

  <h1 class="display-4">Library Management System</h1>

  <div class="book-quote">
    <q> If you don’t like to read, you haven’t found the right book. </q><br>
    <cite>– J.K. Rowling</cite>
 </div>
 
  <div class="col-md-6">
    <form novalidate  autocomplete="off" #form="ngForm" (submit)="onSubmit(form)">
        <div class="input-container">
            <i class="fa fa-envelope icon"></i>
            <input class="input-field" type="text"  placeholder="Email" name="userEmail" #userEmail="ngModel" [(ngModel)]="service.userEmail" required>
        </div>
        <hr>
        <div class="input-container">
            <i class="fa fa-key icon"></i>
            <input  class="input-field" type="Password"  placeholder="Password" name="userPassword" #userPassword="ngModel" [(ngModel)]="service.userPassword" required>
        </div>
        <hr>
        <div class="form-group">
            <button class="btn" type="submit" style="margin:8px"  [disabled]="form.invalid">Login</button>
        </div>      
    </form>
  </div>
</body>
